<div class="row">
    <div class ="col-md-6 offset-md-3">
        <table class="table table-bordered">
            <thead>
                <th>s.no</th>
                <th>name</th>
                <th>category</th>
                <th> price</th>
                <th>stock</th>
                <th>rating</th>
                <th>brand</th>
                <th>description</th>
                <th>color</th>
                
            </thead>

            <tbody>
                <tr *ngFor="let std of products;  let i =index">
                    <td>{{i+1}}</td>
                    <td>{{std.name}}</td>
                    <td>{{std. category}}</td>
                    <td>{{std.price}}</td>
                    <td>{{std. stock}}</td>
                    <td>{{std.rating}}</td>
                    <td>{{std. brand}}</td>
                    <td>{{std. description}}</td>
                    <td>{{std.color}}</td>
                 
                  
                </tr>

            </tbody>
        </table>

    </div>

</div>